# Ignore executables
*.o

# Ignore text and wave files used for test purposes
*.wav
*.txt
*.sh
*.bat

# Ignore build folder and exec except for readme
build/*
!readme.txt
!build/OBJECT_FILES_GO_HERE
text-audiator
